.main {
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: auto 250px 300px 250px auto;
  grid-template-rows: 100px 2.5rem 2rem auto;
}

.title {
  text-align: center;
  grid-column: 3 / 4;
  grid-row: 1 /2;
}

.search {
  display: flex;
  position: relative;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.spotifyLogin {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading.search::after {
  content: '';
  position: absolute;
  right: 0;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: cadetblue;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  top: 8px;
  right: 10px;
  animation: donut-spin 1.2s linear infinite;
}

.searchInput {
  padding: 10px;
  border: none;
  border-radius: 2px;
  width: 100%;
}

.searchInput:focus {
  outline: auto 1px cadetblue;
}

.results {
  grid-column: 2 / 5;
  grid-row: 4 / 5;
}

.card {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.cardImage {
  height: 100%;
}

.cardBPM {
  margin-left: 10px;
  font-size: 2.5rem;
}

.cardBPM::after {
  content: " BPM";
  font-size: 0.8rem;
}

.cardInfo {
  font-size: 1rem;
  margin-left: 10px;
}

.playlistImage {
  background-size: cover;
  height: 3rem;
  width: 3rem;
}