:root {
  --color-accent: rgba(244, 81, 30, 1);

  /* Colors */
  --color-gray: rgba(227, 227, 227, 1);
  --color-off-white: rgb(248, 248, 248);

  /* Box-Shadow */
  --box-shadow: 0 3px 6px 0 var(--color-gray);
}
