:root {
  --color-accent: rgb(244, 81, 30);

  /* Colors */
  --color-gray: rgb(227, 227, 227);
  --color-off-white: rgb(248, 248, 248);
  --color-spotify-green: rgb(30, 215, 96);

  /* Box-Shadow */
  --box-shadow: 0 3px 6px 0 var(--color-gray);
}
